<div class="banner">
  <div class="container-banner">
    <h1>Time to hit the road</h1>
    <p>Rent a campervan and discover the world.</p>
    <%= link_to "Check all vans!", vans_path, class:"btn btn-flat"  %>
  </div>
</div>



