.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 20px;
  background: #c54a3e;
  transition: background 0.2s ease;
}

.btn-flat:hover {
  background: #E14737;
  color: white;
}


.btn-flat-ghost {
  color: #c54a3e;
  padding: 8px 24px;
  border-radius: 20px;
  border-color: #c54a3e;
  transition: background 0.2s ease;
}

.btn-flat-ghost:hover {
  color: #E14737;
  padding: 8px 24px;
  border-radius: 20px;
  border-color: #E14737;
  transition: background 0.2s ease;
}

.btn-flat-big {
  color: white;
  padding: 12px 32px;
  border-radius: 24px;
  background: #c54a3e;
  transition: background 0.2s ease;
}

.btn-flat-big:hover {
  background: #E14737;
  color: white;
}

.back-btn {
  color: #c54a3e;
  padding: 4px 12px;
  border-radius: 20px;
  border-color: #c54a3e;
  transition: background 0.2s ease;
  font-size: 8pt;
}

.back-btn:hover {
  color: #E14737;
  border-color: #E14737;
}


