.container {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px;
  border-radius: 4px;
}

.row {
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 4px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 1;
  margin-bottom: 0;
  margin-top: 8px;

}

.card-product .card-product-infos {
  padding: 16px;
  text-align: center;
}

.btn-flat-accept {
  color: white;
  padding: 8px 12px;
  border-radius: 20px;
  background: #c54a3e;
  transition: background 0.2s ease;
}

.btn-flat-accept:hover {
  background: #E14737;
  color: white;
}

.btn-flat-reject {
  color: #c54a3e;
  border-color: #c54a3e;
  padding: 8px 12px;
  border-radius: 20px;
  transition: background 0.2s ease;
}

.btn-flat-reject:hover {
  color: #E14737;
  border-color: #E14737;
}

.index-title {
  text-align: center;
}

