.container  {
  background-size: cover;
  background-position: center;

}

.log {
  display: inline-block;
}

.form-actions {
  background-color: blue;
  border-radius: 5px;
  width: 75px;
}

h2 {
  margin-top: 10px;
}


